<div class="mol-app">
  <h1 class="title">
    {{ title }}!
  </h1>
  <mat-grid-list cols="4" class="layout-grid" rowHeight="fit">

    <mat-grid-tile class="grid-area" colspan="3" rowspan="7">

      <svg
        class="grid"
        [attr.width]="drawingWidth"
        [attr.height]="drawingHeight">
        <g *ngFor="let c of cells" [attr.transform]="'translate('+c.x*cellWidth+','+c.y*cellHeight+')'" (click)="cellGenesis(c)">
          <rect [attr.width]="cellWidth" [attr.height]="cellHeight" [attr.fill]="c.color" style="stroke-width: 1; stroke:#dcdcdc;"></rect>
        </g>
      </svg>

    </mat-grid-tile>

    <mat-grid-tile class="stats-area" colspan="1" rowspan="8">
      <mat-chip-list class="stats-chip-list mat-chip-list-stacked">
        <mat-chip class="stats-chip" selected color="primary">
          {{universe ? 'Id ' + universe.id : 'No Universe Loaded' }}
        </mat-chip>
        <mat-chip class="stats-chip" selected color="primary">
          {{universe && universe.age ? 'Age ' + universe.age : 'Just Created'}}
        </mat-chip>
        <mat-chip class="stats-chip" selected color="primary">
          {{universe && universe.grid ? universe.grid[0].length : 0}} x {{universe && universe.grid ? universe.grid[1].length : 0}}
        </mat-chip>
        <mat-chip class="stats-chip" selected color="primary">
          {{calcLiveCells()}} live cells
        </mat-chip>
        <mat-chip class="stats-chip" selected color="primary">
          {{detectEntities()}}
        </mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile class="buttons-area" colspan="3" rowspan="1">
      <button mat-raised-button color="warn" (click)="runUniverse()">RUN UNIVERSE</button>
      <button mat-raised-button color="primary" (click)="stepUniverse()">STEP UNIVERSE</button>
      <button mat-raised-button color="accent" (click)="getNewUniverse()">NEW UNIVERSE</button>
      <button mat-raised-button color="accent" (click)="getNewRandomSoup()">NEW RANDOM SOUP</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
